{{ 'section-contact.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign color_scheme_string = section.settings.color_scheme | append: ''
  assign block_section_class = 'block-section'
  unless color_scheme_string == 'background-1'
    assign block_section_class = block_section_class | append: ' block-section-padded'
  endunless

  assign show_card = false
  if section.settings.card_heading != blank or section.settings.card_description != blank
    assign show_card = true
  endif
%}

<style>
  #shopify-section-{{ section.id }} .block-section {
  	margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
  	margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
  }

  #shopify-section-{{ section.id }} .block-section-padded {
  	margin-top: 0;
  	margin-bottom: 0;
  	padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
  	padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
  }

  @media (min-width: 990px) {
  	#shopify-section-{{ section.id }} .block-section {
  		margin-top: {{ section.settings.spacing_top }}px;
  		margin-bottom: {{ section.settings.spacing_bottom }}px;
  	}

  	#shopify-section-{{ section.id }} .block-section-padded {
  		margin-top: 0;
  		margin-bottom: 0;
  		padding-top: {{ section.settings.spacing_top }}px;
  		padding-bottom: {{ section.settings.spacing_bottom }}px;
  	}
  }
</style>

{%- capture visibility_classes -%}{%- render 'section-visibility-classes' -%}{%- endcapture -%}
{%- assign visibility_classes = visibility_classes | strip -%}

<div
  id="section-{{ section.id }}"
  class="{{ visibility_classes }}"
>
  <div class="color-{{ section.settings.color_scheme }}">
    <div class="container {% if show_card %} container-mid{% else %} container-narrow{% endif %}">
      <div class="{{ block_section_class }}">
        {% if section.settings.heading != blank
          or section.settings.subheading != blank
          or section.settings.link_title != blank
          and section.settings.link_url != blank
        %}
          <div class="block-block-section-title-wrapper {% if section.settings.subheading != blank %}with-subtitle{% endif %}">
            {% if section.settings.heading != blank or section.settings.subheading != blank %}
              <div class="block-section-title-wrap">
                {% if section.settings.heading != blank %}
                  <{{ section.settings.heading_tag }} class="block-section-title heading-size-{{ section.settings.heading_size }}">
                    {{- section.settings.heading -}}
                  </{{ section.settings.heading_tag }}>
                {% endif %}
                {% if section.settings.subheading != blank %}
                  <p class="block-section-subtitle">{{ section.settings.subheading }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="section-contact-wrap {% if show_card %}section-contact-wrap-sidebar section-contact-wrap-sidebar-{{ section.settings.card_position }}{% endif %}">
          <div class="section-contact-form-wrap">
            <div class="section-contact-form">
              {% assign id = 'ContactForm-' | append: section.id %}
              {%- form 'contact', id: id, class: 'isolate' -%}
                {%- if form.posted_successfully? -%}
                  <div class="form-status form-status-success" tabindex="-1" autofocus>
                    {{ 'templates.contact.form.post_success' | t }}
                  </div>
                {%- elsif form.errors -%}
                  <div class="form-status form-status-error" role="alert" tabindex="-1" autofocus>
                    <h5 class="form-status-title">{{ 'general.form.error_heading' | t }}</h5>
                    <ul class="form-status-list" role="list">
                      <li>
                        <a href="#ContactForm-email" class="link">
                          {{ form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email }}
                        </a>
                      </li>
                    </ul>
                  </div>
                {%- endif -%}

                <div class="contact-fields">
                  <input
                    type="hidden"
                    id="ContactForm-page_url"
                    name="contact[page_url]"
                    value="{{ canonical_url }}"
                  >

                  {% if section.settings.custom_identifier != blank %}
                    <input
                      type="hidden"
                      id="ContactForm-custom_identifier"
                      name="contact[custom_identifier]"
                      value="{{ section.settings.custom_identifier }}"
                    >
                  {% endif %}

                  <div class="field">
                    <label class="field-label" for="ContactForm-name">
                      {{- 'templates.contact.form.name' | t -}}
                    </label>
                    <input
                      class="field-input"
                      autocomplete="name"
                      type="text"
                      id="ContactForm-name"
                      name="contact[name]"
                      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    >
                  </div>

                  <div class="field field-with-error">
                    <label class="field-label" for="ContactForm-email">
                      {{- 'templates.contact.form.email' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    <input
                      autocomplete="email"
                      type="email"
                      pattern=".+@.+\.(.+\.?)+"
                      id="ContactForm-email"
                      class="field-input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                    >
                    {%- if form.errors contains 'email' -%}
                      <small class="field-error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form-message">
                          {%- render 'icons', icon: 'cross' -%}
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </span>
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field">
                  <label class="form-label field-label" for="ContactForm-body">
                    {{- 'templates.contact.form.comment' | t -}}
                  </label>
                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field-input"
                    name="contact[comment]"
                  >
										{{- form.body -}}
									</textarea>
                </div>

                <div class="contact-button">
                  <button type="submit" class="button">
                    {{ 'templates.contact.form.send' | t }}
                  </button>
                </div>
              {%- endform -%}
            </div>
          </div>

          {% if show_card %}
            <div class="section-contact-content-wrap">
              <div
                id="{{ 'CardCollection-' | append: section.id }}"
                class="card card-padded color-{{ section.settings.card_color_scheme }}"
              >
                {% if section.settings.card_image != blank %}
                  <div class="card-media">
                    <div class="aspect-ratio" style="--ratio-percent: 75%;">
                      {{
                        section.settings.card_image
                        | image_url: width: 1420
                        | image_tag:
                          class: 'card-media-image',
                          widths: '185, 200, 370, 420, 650, 750, 1100, 1200, 1420',
                          sizes: '(min-width: 990px) 420px, calc(100vw - 3rem)'
                      }}
                    </div>
                  </div>
                {% endif %}

                <div class="card-info-wrap">
                  <div class="card-info">
                    {% if section.settings.card_heading != blank %}
                      <h3 class="card-heading">
                        {{ section.settings.card_heading }}
                      </h3>
                    {% endif %}

                    {% if section.settings.card_description != blank %}
                      <div class="card-caption">
                        {{ section.settings.card_description }}
                      </div>
                    {% endif %}

                    {% if section.settings.card_button_text != blank
                      and section.settings.card_button_link != blank
                    %}
                      <a
                        href="{{ section.settings.card_button_link }}"
                        role="link"
                        class="button"
                      >
                        {{ section.settings.card_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.contact.name",
    "tag": "section",
    "class": "section section-contact",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlays"]
    },
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.section_content.heading"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.contact.settings.heading.label",
        "default": "Contact"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "md",
        "options": [
          {
            "value": "sm",
            "label": "t:sections.all.heading_size.options.label_sm"
          },
          {
            "value": "md",
            "label": "t:sections.all.heading_size.options.label_md"
          },
          {
            "value": "lg",
            "label": "t:sections.all.heading_size.options.label_lg"
          },
          {
            "value": "xl",
            "label": "t:sections.all.heading_size.options.label_xl"
          },
          {
            "value": "xxl",
            "label": "t:sections.all.heading_size.options.label_xxl"
          }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.contact.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "custom_identifier",
        "label": "t:sections.contact.settings.custom_identifier.label",
        "info": "t:sections.contact.settings.custom_identifier.info"
      },
      {
        "type": "header",
        "content": "t:sections.contact.settings.header_1.content"
      },
      {
        "type": "select",
        "id": "card_position",
        "label": "t:sections.contact.settings.card_position.label",
        "default": "end",
        "options": [
          {
            "value": "start",
            "label": "t:sections.contact.settings.card_position.options.label_1"
          },
          {
            "value": "end",
            "label": "t:sections.contact.settings.card_position.options.label_2"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "card_image",
        "label": "t:sections.contact.settings.card_image.label"
      },
      {
        "type": "text",
        "id": "card_heading",
        "label": "t:sections.contact.settings.card_heading.label"
      },
      {
        "type": "richtext",
        "id": "card_description",
        "label": "t:sections.contact.settings.card_description.label"
      },
      {
        "type": "text",
        "id": "card_button_text",
        "label": "t:sections.contact.settings.card_button_text.label",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "card_button_link",
        "label": "t:sections.contact.settings.card_button_link.label"
      },
      {
        "type": "color_scheme",
        "id": "card_color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-2"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 90,
        "label": "t:sections.all.section_spacing.spacing_top.label"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 90,
        "label": "t:sections.all.section_spacing.spacing_bottom.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.seo_heading.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.advanced.heading_tag.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.contact.presets.name",
        "category": "t:sections.all.preset_category.marketing"
      }
    ]
  }
{% endschema %}
